<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <title> Login Page</title>
    </head>

    <body>
        <form action="/" method="post">
            Username:<input type="text" name="username">
            Password:<input type="password" name="password">
            <input type="submit" formaction="/" method="POST" value="Login">
        </form>
    </body>

</html>