<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <h1> TESTING NESTED TEMPLATES </h1>
</head>

<body>
    <h1>This is my Main Template and below you can see my nested Template {{.}}</h1>
    <p>{{template "nested" .}}</p>
</body>

</html>