<!DOCTYPE html>
<html lang = "en">

<head>
    <meta charset="UTF-8">
    <title> BANK NIFTY</title>
    <link rel="stylesheet" href="style.css"/>

</head>

<body>
    <br>
    <h1> The information received is below<h1>
    <br>
    {{.}}
    <br>
    <!-- store te expiry date for which you need to get the info in a variable -->
    {{$Expiry := .Expiry}}
    {{$Strike1 := .Strike1}}
    {{$Strike2 := .Strike2}}
    {{$FStrike1 := .Fstrike1}}
    {{$FStrike2 := .Fstrike2}}

    <form action="/banknifty" method="POST">
        <p2> <strong>Choose Your Expiry Date -> </strong> </p2>
        <select name="expiry" id="expiry">
             <option value="{{$Expiry}}"><neg>expiryDates</neg></option>
               {{range  $k, $v := .BankInfo.Records.Expirydates}}
               <option value={{$v}}>{{$v}}</option>
               {{end}}
        </select>

        <p2> <strong> Choose Your Strike Prices -> </strong> </p2>
        <select name="strike1" id="strikes">
                <option value="{{$Strike1}}">strike1</option>
                {{range  $v := strPrice $FStrike1 $FStrike2}}
                <option value={{$v}}>{{$v}}</option>
                {{end}}
        </select>
        <select name="strike2" id="strikes">
                <option value="{{$Strike2}}">strike2</option>
               {{range  $v := strPrice $FStrike1 $FStrike2}}
                <option value={{$v}}>{{$v}}</option>
                {{end}}
        </select>
        <input type="submit" name="submit"/>
    </form>               

    <table id="bankNifty" style="width:100%">
        <tr>
            <th>expiry</th>
            <th><p1>PE</p1></th>
            <th>pos</th>
            <th>oi</th>
            <th>oi_chng</th>
            <th>%-oi_chng</th>
            <th>vol</th>
            <th>iv</th>
            <th>ltp</th>
            <th>change</th>
            <th>%-Change</th>
            <th>strikes</th>            
            <th><p1>CE</p1></th>
            <th>pos</th>
            <th>oi</th>
            <th>oi_chng</th>
            <th>%-oi_chng</th>
            <th>vol</th>
            <th>iv</th>
            <th>ltp</th>
            <th>Change</th>
            <th>%-Change</th>

        </tr>

    {{ range .BankInfo.Records.Data}}
        {{if eq .Expirydate $Expiry }}
            {{if gt .Strikeprice $Strike1}}
                {{if lt .Strikeprice $Strike2}}
                <tr>
                    {{if .Pe}}
                        <td>{{.Pe.Expirydate}}</td>
                        <td><p1>PE</p2></td>
                        <td>
                        <script>
                            var OpenInterest = "{{.Pe.Changeinopeninterest}}"
                            var Price = "{{.Pe.Change}}"
                            if (OpenInterest > 0) {
                                if(Price > 0) {
                                    var txt = "l.b↑"
                                    document.write("<p>" + txt.fontcolor("green") + "</p>");
                                } else {
                                    var txt = "s.b↓"
                                    document.write("<p>" + txt.fontcolor("red") + "</p>");
                                }
                            } else {
                                if(Price > 0) {
                                    var txt = "s.c↓"
                                    document.write("<p>" + txt.fontcolor("purple") + "</p>");
                                } else {
                                    var txt = "l.u↓"
                                    document.write("<p>" + txt.fontcolor("red") + "</p>");
                                }                                
                            }
                        </script> 
                        </td>
                        <td>{{.Pe.Openinterest}}</td>
                        <td>
                        <script>
                             var golangVar = "{{.Pe.Changeinopeninterest}}"
                             if (golangVar < 0) {
                                document.write("<font color=\"red\">"+Math.round(golangVar*100)/100+"</font>")
                             } else {
                                document.write(Math.round(golangVar*100)/100)
                             }                             
                        </script>
                        </td>

                        <td>
                        <!-- for below code, refer https://www.w3schools.com/js/js_output.asp -->
                        <script>
                             var golangVar = "{{.Pe.Pchangeinopeninterest}}"
                             document.write(Math.round(golangVar*100)/100)
                        </script> 
                        </td>
                        <td>{{.Pe.Totaltradedvolume}}</td>
                        <td>{{.Pe.Impliedvolatility}}</td>
                        <td>{{.Pe.Lastprice}}</td>
                        <td>
                        <script>
                             var golangVar = "{{.Pe.Change}}"
                             if (golangVar < 0) {
                                document.write("<font color=\"red\">"+Math.round(golangVar*100)/100+"</font>")
                             } else {
                                document.write(Math.round(golangVar*100)/100)
                             }                             
                        </script>
                        </td>

                        <td>
                        <script>
                             var golangVar = "{{.Pe.Pchange}}"
                             document.write(Math.round(golangVar*100)/100)
                        </script>
                        </td>    
                      <td><strong><st>{{.Pe.Strikeprice}}</st></strong></td>                        
                    {{end}}

                    {{if .Ce}}
                        <td><p1>CE</p1></td>
                     <td>
                        <script>
                            var OpenInterest = "{{.Ce.Changeinopeninterest}}"
                            var Price = "{{.Ce.Change}}"
                            if (OpenInterest > 0) {
                                if(Price > 0) {
                                    var txt = "l.b↑"
                                    document.write("<p>" + txt.fontcolor("green") + "</p>");
                                } else {
                                    var txt = "s.b↓"
                                    document.write("<p>" + txt.fontcolor("red") + "</p>");
                                }
                            } else {
                                if(Price > 0) {
                                    var txt = "s.c↑"
                                    document.write("<p>" + txt.fontcolor("orange") + "</p>");
                                } else {
                                    var txt = "l.u↑"
                                    document.write("<p>" + txt.fontcolor("red") + "</p>");
                                }                                
                            }
                        </script> 
                        </td>                        
                        <td>{{.Ce.Openinterest}}</td>
                        <td>
                        <script>
                             var golangVar = "{{.Ce.Changeinopeninterest}}"
                             if (golangVar < 0) {
                                document.write("<font color=\"red\">"+Math.round(golangVar*100)/100+"</font>")
                             } else {
                                document.write(Math.round(golangVar*100)/100)
                             }                             
                        </script>                        
                        </td>

                        <td>
                        <script>
                             var golangVar = "{{.Ce.Pchangeinopeninterest}}"
                             if (golangVar == 0) {
                                document.write(0)
                             } else {
                                document.write(Math.round(golangVar*100)/100)
                                }
                        </script>
                        </td>
                        <td>{{.Ce.Totaltradedvolume}}</td>
                        <td>{{.Ce.Impliedvolatility}}</td>
                        <td>{{.Ce.Lastprice}}</td>
                        <td>
                        <script>
                             var golangVar = "{{.Ce.Change}}"
                             if (golangVar < 0) {
                                document.write("<font color=\"red\">"+Math.round(golangVar*100)/100+"</font>")
                             } else {
                                document.write(Math.round(golangVar*100)/100)
                             }                             
                        </script> 
                        </td>

                        <td>
                        <script>
                            var Pchange = "{{.Ce.Pchange}}"
                            document.write(Math.round(Pchange*100)/100)
                        </script>
                        </td>
                    {{end}}
                </tr>
                {{end}}
            {{end}}
        {{end}}
    {{end}}
      </table>

<script>
  function rows() {
    var len = document.getElementById("bankNifty").rows.length;
    alert(len);
  }

</script>
<script>
  function trunc(num) {
    var res = Math.round(num * 100) / 100;
    alert(res);
  }
</script>

</body>

</html>