h1 {
  color : green;
}

th {
  color : black;
  font-size: 40;
  font-style: oblique;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

td {
  color : rgb(26, 73, 204);
}

table {
 border: 2px solid rgb(10, 10, 10);
}

title {
  color :rgb(30, 18, 196);
}

p1 {
  color : #FFC300 ;
}

p2 {
  color : green;
}

neg {
  color : red
}

#bankNifty {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#bankNifty th {
  border: 1px solid #ddd;
  padding: 8px;
  font-size: small;
}

#bankNifty td {
  border: 1px solid #ddd;
  padding: 8px;
  font-size: small;
}

#bankNifty tr:nth-child(even){background-color: #f2f2f2;}

#bankNifty tr:hover {background-color: #ddd;}

#bankNifty th {
  padding-top: 2px;
  padding-bottom: 2px;
  text-align: center;
  background-color: #04AA6D;
  color: white;
} 