h1 {
  color : green;
}

th {
  color : black;
  font-size: 40;
  font-style: oblique;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

td {
  color : rgb(105, 238, 231);
}

table, th, td {
  border: 1px solid rgb(17, 17, 17);
}

title {
  color :rgb(30, 18, 196);
}

p1 {
  color : blueviolet;
}

p2 {
  color : green;
}

neg {
  color : red
}