<!DOCTYPE html>
<html>

<style> {
    p {
        color : cyan;
    }
}
</style>

<head>
    <h1> This is to get value from form</h1>
    <p> {{.}} </p>
</head>

<body>
<form  method="GET">
    <input type="text" name="q">
    <input type="submit" name="click" value="click">
</form>
</body>

</html>