<!DOCTYPE html>

<html leng="en">
<head>
    <meta charset="UTF-8">
    {{.}}
</head>

<body>
    <form method="POST">
        <label for="fname">FirstName</label>
        <input type="text" id="fname" name="fname">
        <br>        
        <label for="lname">LastName</label>        
        <input type="text" id="lname" name="lname">
        <br>
        <label for="subscribed">Sub</label>    
        <input type="checkbox" id="subscribed" name="subscribed">
        <br>
        <input type="submit">
    </form>
    <br>

    <h1>First: {{.First}}</h1>
    <h1>Last: {{.Last}}</h1>
    <h1>IsSubscribed : {{.IsSubscribed}}</h1>
</body>
</html>