<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title> Hello World! </title>
</head>

<body>
<ul>    
    {{range .Sages}}
    <ul> <p style=color:red > {{uc .Motto}} </p></ul>
    {{end}}

    {{range .Cars}}
    <ul> <p style=color:green > {{lt .Brand}} </p> </ul>
    {{end}}
</ul>
</body>
</html>