<!DOCTYPE html>
<html lang = "en">

<head>
    <meta charset="UTF-8">
    <title> <b> BANK NIFTY </b> </title>
</head>

<body>
    {{ range .Records.Data}}
        <br>{{.}}</br>        
    {{end}}
</body>

</html>