<!DOCTYPE html>
<html lang = "en">

<head>
    <meta charset="UTF-8">
    <title> <b> BANK NIFTY </b> </title>
</head>

<body>
    {{ range .Records.Data}}
        {{if eq .Expirydate "17-Jun-2021"}}
            {{.Pe}}
        {{end}}
    {{end}}
</body>

</html>